body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://picsum.photos/3000/2000/?image=3);
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: lightcoral;
  opacity: 0.8;
}

.form {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 400px;
  background-color: #0000;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
}

.form h2 {
  color: darkred;
  margin: 0 0 40px;
  padding: 0;
}

.form .input-box {
  position: relative;
  margin: 20px 0;
}

.form .input-box input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  font-weight: bold;
  color: #777;
}

.form .input-box input:focus,
.form .input-box input:valid {
  border-bottom-color: darkred;
}

.form .input-box .fa {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 18px;
  color: darkgrey;
}

.form .input-box input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: darkred;
  color: whitesmoke;
  font-weight: bold;
  transition: 0.5s;
}

.form .input-box input[type="submit"]:hover {
  background-color: #ff4987;
}

.form a {
  text-decoration: none;
  color: darkgrey;
  margin-top: 20px;
  font-weight: bold;
  display: inline-block;
  transition: 0.5s;
}

.form a:hover {
  color: #ff4987;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: darkred;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #ff4987;
}

.corner-image {
  position: fixed;
  right: 10px; 
  bottom: 10px; 
  max-width: 100px; 
  height: auto; 
  border: 1px solid #fff; 
  border-radius: 5px; 
}
